.message {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.message button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: aliceblue;
  background-color: var(--error);
}

.message button:hover {
  background-color: rgba(172, 37, 13, 0.87);
  box-shadow: var(--shadow);
}

.message p {
  text-align: center;
  font-weight: 400;
  color: var(--text-color);
}

#icon {
  color: var(--header-color);
  font-size: 100px;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.errorMessage p {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary-color);
}

.errorMessage #icon {
  color: var(--primary-color);
}

.errorMessage button {
  padding: 10px 25px;
  background-color: var(--header-color);
}

.errorMessage button:hover {
  background-color: var(--error);
}
