.statusColorsContainer {
  box-shadow: var(--shadow);
  background-color: var(--sidebar-color);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 0.2px 1px 0.5px rgba(0, 0, 0, 0.15);
}

.statusColorsContainer h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-menu);
}

.statusProduct {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 500;
}

.status {
  font-size: 14px;
  width: 31%;
  border: none;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.statusCompany {
  font-size: 14px;
  width: 48%;
  border: none;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
}

.halal {
  background-color: var(--header-color);
}

.doubtful {
  background-color: #ffc107;
}

.haram {
  background-color: #dc3545;
}
