* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.halal {
  background-color: var(--header-color);
}

.doubtful {
  background-color: var(--warning);
}

.haram {
  background-color: var(--error);
}

.halalIf {
  color: var(--header-color);
}

.doubtfulIf {
  color: var(--warning);
}

.haramIf {
  color: var(--error);
}

.doubtfulInfo span {
  font-weight: 700;
}

.additiveContent {
  grid-column: 1 / span 4;
  background-color: var(--sidebar-color);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.additiveContent.loader {
  justify-content: center;
  align-content: center;
}

.additiveContent.loader * {
  display: flex;
  justify-content: center;
}

.additiveHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.additiveInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.additiveInfo h3 {
  color: var(--text-color);
  font-size: 1.175em;
}

.additiveTitle {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1;
}

.additiveHeader button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--error);
}

.additiveHeader button:hover {
  background-color: rgb(124, 32, 32);
}

.status {
  width: 100%;
  color: white;
  padding: 7px 0;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.influenceOnBodyType {
  display: flex;
  flex-direction: column;
  /* padding-top: 10px; */
}

.additionalInfo h3 {
  color: var(--text-color);
  font-size: 1.175em;
}

.harm {
  color: var(--error);
}

.harm h4::after {
  background: var(--error);
}

.benefit {
  color: var(--header-color);
}

.benefit h4::after {
  background-color: var(--header-color);
}

.influenceOnBodyType h4 {
  display: flex;
  align-items: baseline;
  font-size: 1.025em;
  font-weight: 650;
  width: 100%;
}

.influenceOnBodyType p {
  margin-top: 5px;
}

.influenceOnBodyType h4::after {
  content: "";
  flex: 1;
  height: 0.77px;
  margin-left: 5px;
}

@media (max-width: 900px) {
  .additiveContent {
    grid-column: 1 / span 5;
  }
}
