* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.halal {
  background-color: var(--header-color);
}

.doubtful {
  background-color: var(--warning);
}

.haram {
  background-color: var(--error);
}

.additiveContent {
  grid-column: 1 / span 4;
  background-color: var(--sidebar-color);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.additiveHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.additiveTitle {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1;
}

.additiveHeader button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--error);
}

.additiveHeader button:hover {
  background-color: rgb(124, 32, 32);
}

.status {
  width: 100%;
  color: white;
  padding: 10px 0;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .additiveContent {
    grid-column: 1 / span 5;
  }
}
