* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

.viewsRow {
  box-sizing: border-box;
  display: flex;
  min-width: 250px;
  max-width: 320px;
  min-height: 250px;
  height: 250px;
  transition: var(--trans-03);
  padding: 0.7rem;
}

.halal {
  background-color: var(--header-color);
}

.haram {
  background-color: var(--error);
}

.doubtful {
  background-color: var(--warning);
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 5px;
  color: var(--sidebar-color);
  border-radius: 15px;
  box-shadow: var(--shadow);
  padding: 15px;
  transition: 0.3s all;
}

.card:hover,
.card:focus {
  transform: scale(1.05);
}

/* .card .additiveCode h3 {
  text-transform: uppercase;
} */

.card .highlight {
  background-color: #3b83ba;
}

.card .additiveInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.card .additiveInfo h4 {
  font-size: 14px;
}

.card .additiveInfo p {
  font-size: 14px;
}

.cardBottom {
  display: flex;
  justify-content: flex-start;
}

.btn {
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.25);
  text-decoration: none;
  padding: 3px 8px;
  border: none;
  border-radius: 5px;
  transition: 0.3s all;
  &:hover {
    background: rgba(255, 255, 255, 0.479);
    color: #000000;
  }

  .productLink {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
  }
}

@media (max-width: 910px) {
  .viewsRow {
    width: calc(100% / 3);
  }

  .card .additiveInfo p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .viewsRow {
    min-width: 210px;
    width: calc(100% / 3);
  }
}

@media (max-width: 680px) {
  .viewsRow {
    min-width: 210px;
    width: calc(100% / 2);
  }
  .card .additiveInfo h4 {
    font-size: 16px;
  }

  .card .additiveInfo p {
    font-size: 14px;
  }

  .btn {
    font-size: 10px;
    padding: 5px 8px;
  }
}

@media (max-width: 540px) {
  .viewsRow {
    min-width: 100px;
    width: calc(100% / 2);
  }

  .card .additiveInfo h4 {
    font-size: 14px;
  }

  .card .additiveInfo p {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
    padding: 5px 8px;
  }
}

@media (min-width: 910px) {
  .viewsRow.withoutSidebar {
    width: calc(100% / 2);
  }
}
@media (min-width: 1180px) {
  .viewsRow.withSidebar {
    width: calc(100% / 2);
  }

  .viewsRow.withoutSidebar {
    min-width: 200px;
    width: calc(100% / 3);
  }
}

@media (min-width: 1400px) {
  .viewsRow.withSidebar {
    width: calc(100% / 3);
  }

  .viewsRow.withoutSidebar {
    width: calc(100% / 4);
  }
}

@media (min-width: 1600px) {
  .viewsRow.withSidebar {
    width: calc(100% / 4);
  }

  .viewsRow.withoutSidebar {
    width: calc(100% / 5);
  }
}
