* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mapTitle {
  color: var(--header-color);
}

.halal {
  background-color: var(--header-color);
}

.doubtful {
  background-color: var(--warning);
}

.haram {
  background-color: var(--error);
}

.title {
  color: var(--text-color);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1;
}

.title button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--error);
}

.title button:hover {
  background-color: rgb(124, 32, 32);
}

.enterpriseContent {
  grid-column: 1 / span 4;
  background-color: var(--sidebar-color);
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  gap: 15px;
}

.status {
  width: 100%;
  color: white;
  padding: 10px 0;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.companyCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
}
.companyLogo {
  flex: 1;
  width: 45%;
  min-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companyLogo img {
  border-radius: 5px;
  box-shadow: var(--shadow);
  width: 100%;
}

.companyInfo {
  flex: 1;
  width: 50%;
  padding: 15px;
  display: flex;
  min-width: 360px;
  flex-direction: column;
  justify-content: flex-start;
}

.companyFeatures {
  display: flex;
  flex-direction: column;
}

.companyFeatures .companyItem {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
  border-bottom: 1px solid #f0f0f0;
}

.companyFeatures .companyItem p {
  font-size: 0.875em;
}

.companyMap {
  margin-top: 10px;
  height: 300px;
  border: 3px solid var(--header-color);
  border-radius: 5px;
}

@media (max-width: 900px) {
  .companyLogo {
    min-width: 300px;
  }

  .companyInfo {
    min-width: 300px;
  }

  .enterpriseContent {
    grid-column: 1 / span 5;
  }
}
