* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

@media (min-width: 500px) {
}

@media (min-width: 900px) {
  .viewsRow.withSidebar {
    width: calc(100% / 2);
    min-width: 220px;
  }

  .viewsRow.withoutSidebar {
    min-width: 220px;
    width: calc(100% / 2);
  }
}
@media (min-width: 1200px) {
  .viewsRow.withSidebar {
    width: calc(100% / 2);
  }

  .viewsRow.withoutSidebar {
    width: calc(100% / 3);
  }
}

@media (min-width: 1400px) {
  .viewsRow.withSidebar {
    width: calc(100% / 2);
  }

  .viewsRow.withoutSidebar {
    width: calc(100% / 3);
  }
}

@media (min-width: 1600px) {
  .viewsRow.withSidebar {
    width: calc(100% / 3);
  }

  .viewsRow.withoutSidebar {
    width: calc(100% / 4);
  }
}

.viewsRow {
  box-sizing: border-box;
  display: flex;
  height: 230px;
  transition: var(--trans-03);
  padding: 0.7rem;
}

.cardContent {
  width: 100%;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  transition: 0.3s all;
  box-shadow: var(--shadow);
  background-color: var(--sidebar-color);
  color: var(--sidebar-color);
}

.cardCenter {
  padding: 15px;
  padding-bottom: 0px;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.cardContent .enterpriseInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}

.cardContent .enterpriseImg {
  border: 0.5px solid rgba(150, 150, 150, 0.582);
  border-radius: 10px;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.cardContent .enterpriseImg img {
  height: 100%;
  width: 100%;
}

.cardCenter .enterpriseInfo .title h3 {
  color: var(--primary-color);
  font-size: 20px;
}

.cardCenter .enterpriseInfo .title p {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: var(--header-color);
}

.cardCenter .enterpriseInfo .info p {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}

.regNum::before {
  content: "№ ";
  font-weight: 500;
}

.cardBottom {
  padding: 10px 15px;
  border-radius: 0 0 15px 15px;
  background-color: var(--body-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expired {
  color: var(--warning);
}

.notExpired {
  color: var(--header-color);
}

.cardBottom .btn {
  background-color: var(--header-color);
  border-radius: 7px;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
}

.cardBottom .btn .enterprisetLink {
  color: white;
}

.cardBottom .btn:hover {
  background-color: var(--primary-color);
}

.cardBottom .deadline #icon {
  font-size: 22px;
}

.cardBottom .deadline {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}

.highlight {
  background-color: #fff351;
}
