* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #ffffff;
  --primary-color: #5d7285;
  --primary-color-light: #f6f5ff;
  --text-color-menu: #636363;
  --header-color: #43ba5b;
  --toggle-color: #ddd;
  --hover-color: #ffffff;
  --hover-menu-color: #43ba5b;
  --text-color: rgb(0, 0, 0);
  --warning: #f3c231;
  --error: #cb4f4f;
  --active-menu-dropdown: #43ba5b;
  --hover-sidebar: #47b85aa6;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* ====== Transition ====== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-04);
}

body.dark {
  /* --header-color: #2a8f5c; */
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #707273;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color-menu: #ccc;
  --hover-color: #ffffff;
  --hover-menu-color: #3a3b3c;
  --text-color: #ffffff;
  --active-menu-dropdown: #909090;
  --hover-sidebar: #3a3b3c;
}

main {
  position: relative;
  left: 270px;
  height: 100vh;
  width: calc(100% - 270px);
  background: var(--body-color);
  transition: var(--tran-05);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(5, 1fr); /* 4 колонки */
  grid-template-rows: auto 1fr; /* Высота хэдера автоматическая, основной контент растягивается на всё доступное пространство */
  gap: 0.5rem; /* Расстояние между элементами */
  /* height: 100vh; */
}

@media (max-width: 450px) {
  main {
    padding: 0rem;
  }
}

.mainComponents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
