* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

.viewsRow {
  box-sizing: border-box;
  display: flex;
  min-width: 250px;
  max-width: 320px;
  transition: var(--trans-03);
  padding: 0.7rem;
}

.halal {
  background-color: var(--header-color);
}

.haram {
  background-color: var(--error);
}

.doubtful {
  background-color: var(--warning);
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  color: var(--sidebar-color);
  /* flex: 3; */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--shadow);
  padding: 10px;
  transition: 0.3s all;
}

.card:hover,
.card:focus {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  background-color: white;
}

.cardCenter {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}

.cardCenter .barcode hr {
  border: none;
  height: 0.1px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.cardContent h3 {
  color: rgba(255, 255, 255, 0.95);
  font-size: clamp(0.75rem, 0.6286rem + 0.5178vw, 1.25rem);
  /* margin: 5px 0; */
}

.cardContent p {
  color: rgba(255, 255, 255, 0.85); /* Белый текст с 85% непрозрачности */
  font-size: clamp(0.625rem, 0.5643rem + 0.2589vw, 0.875rem);
}

.textBold {
  font-weight: 500;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardBottomButton {
  font-size: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBottomButton label {
  color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: 500;
}

.cardBottomButton img {
  width: 25px;
  height: auto;
}

.cardBottomButton .btn {
  border: none;
  font-size: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.3s all;
  &:hover {
    background: rgba(255, 255, 255, 0.479);
    color: #ffffff;
  }
}

.cardContent .highlight {
  background-color: #3b83ba;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.85);
}

@media (max-width: 900px) {
  .viewsRow {
    width: calc(100% / 3);
    min-width: 210px;
  }
}

@media (max-width: 700px) {
  .viewsRow {
    width: calc(100% / 2);
    min-width: 220px;
  }
}

@media (max-width: 460px) {
  .cardBottomButton {
    display: none;
  }
}

@media (max-width: 400px) {
  #ingredientText {
    display: none;
  }

  .viewsRow {
    padding: 0.5rem;
  }
}

@media (max-width: 500px) {
  .viewsRow {
    width: calc(100 / 2);
    min-width: 100px;
    max-width: 220px;
    flex-direction: column;
    justify-content: center;
  }

  .card img {
    height: 120px;
  }

  .cardContent h3 {
    font-size: 12px;
    /* margin: 5px 0; */
  }

  .cardContent p {
    color: rgba(255, 255, 255, 0.85); /* Белый текст с 85% непрозрачности */
    font-size: clamp(0.625rem, 0.5643rem + 0.2589vw, 0.875rem);
  }

  .cardBottomButton label {
    display: none;
  }
}

@media (min-width: 900px) {
  .viewsRow {
    width: calc(100% / 2);
    min-width: 220px;
    max-width: 360px;
  }
}

@media (min-width: 1200px) {
  .viewsRow {
    width: calc(100% / 3);
    min-width: 220px;
  }
}

@media (min-width: 1400px) {
  .viewsRow.withSidebar {
    width: calc(100% / 3);
  }

  .viewsRow.withoutSidebar {
    width: calc(100% / 4);
  }
}

@media (min-width: 1600px) {
  .viewsRow.withSidebar {
    width: calc(100% / 4);
  }

  .viewsRow.withoutSidebar {
    width: calc(100% / 5);
  }
}
